// COLORS
$font-color        : #000;
$bg-color          : #FFF;
$code-font-color   : #999;
$code-bg-color     : #DEDEDE;
$table-border-color: #333;
$table-header-color: #DEDEDE;
$sperator-color    : #CCC;

// STYLES
body {
  font:       1em sans-serif;
  padding:    1em;
  margin:     0;
  color:      $font-color;
  background: $bg-color;
}

.page:not(.index) {
  max-width: 40em;
  margin:    0 auto;
}

code,
pre {
  background-color: $code-bg-color;
}

pre {
  overflow: auto;
  padding:  .5em;
  border:   1px solid $code-font-color;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  font-weight: bold;
}

p {
  text-align: justify;
  hyphens:    auto;
}

.table {
  overflow:  auto;
  border: 1px solid $table-border-color;
}

table {
  width: 100%;
  min-width: 40em;
  border-spacing: 0;
  border-collapse: collapse;

  th,
  td,
  tr {
    text-align: left;
    border:     1px solid $table-border-color;
    padding:    .4em .5em .3em;
  }

  th {
    white-space: nowrap;
    background:  $table-header-color;
  }

  td:nth-child(1) {
    min-width: 250px;
  }

  p {
    margin: 0;

    + p {
      margin-top: 1em;
    }
  }
}

.title {
  overflow: hidden;

  img {
    height: 2em;
    width: auto;
    margin-right: .5em;
  }

  img,
  h1 {
    float:     left;
    font-size: 2em;
  }

  &::after {
    content:    "";
    display:    block;
    clear:      both;
    height:     0;
    border-top: 1px solid $sperator-color;
  }
}
