# ENVIRONNEMENT GLOBAL
# -----------------------------------------------------------------------------
# Pour être sur que le fichier .gitignore n'est jamais ignorer lui-même.
!.gitignore

# MODULES TIERS
# -----------------------------------------------------------------------------
# Ignorer les modules et logs nodes
node_modules
logs
*.log
npm-debug.log*
