---
title: Example de page
description: Page d'example pour la génération de page avec meta-données

META:
  HTML : OK
  L1   : KO       #IE8
  L2   : It works #IE9+
  L3   : NO JS    #Firefox
# L4   : Buggy    #Chrome
---

<!-- Cette page est un exemple, n'hésitez pas à la supprimer -->
<p>Un exemple de page</p>
