{# test.twig #}
{# ------------------------------------------------------------------------- #}

{# VARIABLES STATIQUES #}
{# ------------------------------------------------------------------------- #}

{# LAYOUT #}
{# ------------------------------------------------------------------------- #}
{% extends "../layout/_default.twig" %}

{# GABARIT PRINCIPAL #}
{# ------------------------------------------------------------------------- #}
{% block main %}
  <p>{{ description }}</p>
{% endblock %}
