// VARIABLES
// ----------------------------------------------------------------------------
// Colors
$darker-grey: #3A3737;
$dark-grey: #666666;
$light-grey: #E6E6E6;
$dark-gold: #C8A151;
$dark-red: #990000;

$color-link: $dark-red;
$color-bg-content: #FFFFFF;
$color-bg-page: #FAF8F4;
$color-title: $dark-gold;
$color-bg-dark-cell: $darker-grey;
$color-fg-dark-cell: #FFFFFF;
$color-fg-light-cell: $darker-grey;
$color-bg-light-cell: #FFFFFF;


// Grid
$column: 4rem;
$gap: 1rem;


// Functions
// ----------------------------------------------------------------------------
@function grid-width($nbr) {
  @return $column * $nbr + $gap * ($nbr - 1);
}


// MAIN STYLES
// ----------------------------------------------------------------------------
.ca {
  font: 1em/140% Georgia, serif;
  padding: 0;
  margin: 0;
  background: $color-bg-page;

  &__pageWrapper {
    margin: 0 auto;
    max-width: grid-width(12);
  }

  &__header {
    background: $color-bg-content;
    overflow: hidden;

    &Logo {
      font: 1.5rem Georgia, serif;
      background: url('../img/clever-age-logo.png') left center no-repeat;
      background-size: auto 1.2em;
      margin: 0;
      padding: 1rem 0 1rem 6rem;
      float: left;
    }

    &Nav {
      list-style: none;
      margin: 0;
      padding: 0;
      float: right;

      &Item {
        display: inline-block;
      }

      &Link {
        display: block;
        font: 1.25rem Georgia, serif;
        padding: 1.25rem 0 .75rem;
        margin: 0 0 0 1rem;
        color: inherit;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 0.25rem solid transparent;

        &:hover,
        &-selected {
          border-bottom-color: $dark-grey;
        }
      }
    }
  }

  &__md {
    a {
      color: $color-link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    code {
      font-size: 1.2em;
    }

    em code {
      font-style: normal;
    }

    pre, blockquote {
      background: $color-bg-content;
      border-radius: .5em;
      padding: 1em
    }

    blockquote {
      margin: 1em 0;
      color: $dark-grey;

      p {
        margin: 0;

        + p {
          margin-top: 1em;
        }
      }
    }

    h1 {
      font: 1.8rem Georgia, serif;
      color: $color-title;
      text-transform: uppercase;
      padding: 0 0 .8rem;
      margin: 2rem 0;
      border-bottom: 1px solid $color-title;
    }

    h2 {
      font: 1.45rem Georgia, serif;
      color: $color-title;
      text-transform: uppercase;
      padding: .8rem 0 0;
      margin: 2rem 0 1rem;
      border-top: 1px solid $color-title;
    }

    h3 {
      font: bold 1.2rem Georgia, serif;
      padding-left: 1.5em;
      margin: 2rem 0 1rem;
    }

    h4, h5, h6 {
      font: bold 1rem Georgia, serif;
      padding-left: 3em;
      margin: 2rem 0 1rem;
    }
  }

  &__title1 {
    font: 1.8rem Georgia, serif;
    color: $color-title;
    text-transform: uppercase;
    padding: 0 0 .8rem;
    margin: 2rem 0;
    border-bottom: 1px solid $color-title;
  }

  &__table {
    font: 1.2rem Georgia, serif;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    min-width: 40rem;

    &Wrapper {
      overflow: auto;
    }

    small {
      font-style: italic;
    }

    a {
      color: $color-link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    th,
    td {
      font-weight: normal;
      text-align: center;
      border: 1px solid $light-grey;
      padding: 0.5em 1em;
    }

    thead {
      th {
        background-color: $color-bg-dark-cell;
        color: $color-fg-dark-cell;
      }

      tr:first-of-type th {
        text-transform: uppercase;
      }
    }

    tbody {
      th,
      td:last-of-type {
        text-align: left;
      }

      th,
      td {
        background-color: $color-bg-light-cell;
        color: $color-fg-light-cell;
        padding: 1em;
      }
    }
  }
}
